.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  clear:both;
  /* box-sizing: border-box; */
}
html{
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  
}
body {
  background-color: #FDAD77 ;
  width: 100%;
  height: 100%;
  display: inline-flex;
  /* flex-direction: column; */
  /* justify-content: left; */
  clear: both;
  /* overflow-x:hidden ; i dont like the x scroll */
  overflow: hidden;
  scroll-behavior: smooth;
}
.tipBox{
  position: relative;
  display: inline-block;
  border: 2px solid black;
}
.tipBox .tipText{
  visibility: hidden;
  width: 120px;
  background-color: steelblue;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;

}
.tipBox:hover .tipText {
  visibility: visible;
  opacity: 1;
}

.mc{
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-size: 64px;
  height: 64px;
  width: 64px;
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

/* below are all item images */
.Em{
  background-image: url('/emerald.png');
}
.SpiderEye{
  background-image: url('/spider_eye.png');
}
.PoisonPotato{
  background-image: url('/poisonous_potato.png');
}
.RottenFlesh{
  background-image: url('/rotten_flesh.png');
}
.Sugar{
  background-image: url('/sugar.png');
}
.Quartz{
  background-image: url('/quartz.png');
}
.Coal{
  background-image: url('/coal.png');
}
.WBucket{
  background-image: url('/water_bucket.png');
}
.SBucket{
  background-image: url('/powder_snow_bucket.png');
}
.EBucket{
  background-image: url('/bucket.png');
}
.WBottle{
  background-image: url('/waterbottle.png');
}
.PDripstone{
  background-image: url('/pointed_dripstone.png');
}
.Apple{
  background-image: url('/apple.png');
}
.GApple{
  background-image: url('/golden_apple.png');
}
.Diamond{
  background-image: url('/diamond.png');
}
.Qn{
  background-image: url('/gold_nugget.png');
}

.IHelm{
  background-image: url('/iron_helmet.png');
}
.IChest{
  background-image: url('/iron_chestplate.png');
}
.ILegs{
  background-image: url('/iron_leggings.png');
}
.IBoots{
  background-image: url('/iron_boots.png');
}
.DHelm{
  background-image: url('/diamond_helmet.png');
}
.DChest{
  background-image: url('/diamond_chestplate.png');
}
.DLegs{
  background-image: url('/diamond_leggings.png');
}
.DBoots{
  background-image: url('/diamond_boots.png');
}
.GHelm{
  background-image: url('/golden_helmet.png');
}
.GChest{
  background-image: url('/golden_chestplate.png');
}
.GLegs{
  background-image: url('/golden_leggings.png');
}
.GBoots{
  background-image: url('/golden_boots.png');
}
.CHelm{
  background-image: url('/chainmail_helmet.png');
}
.CChest{
  background-image: url('/chainmail_chestplate.png');
}
.CLegs{
  background-image: url('/chainmail_leggings.png');
}
.CBoots{
  background-image: url('/chainmail_boots.png');
}
.NHelm{
  background-image: url('/netherite_helmet.png');
}
.NChest{
  background-image: url('/netherite_chestplate.png');
}
.NLegs{
  background-image: url('/netherite_leggings.png');
}
.NBoots{
  background-image: url('/netherite_boots.png');
}
.Bread{
  background-image: url('/bread.png');
}
.BPotato{
  background-image: url('/baked_potato.png');
}
.PumpkinPie{
  background-image: url('/pumpkin_pie.png');
}
.Cookies{
  background-image: url('/cookie.png');
}
.Cake{
  background-image: url('/cake.png');
}
.SweetBerries{
  background-image: url('/sweet_berries.png');
}
.HBottle{
  background-image: url('/honey_bottle.png');
}
.HCombs{
  background-image: url('/honeycomb.png');
}
.GlowBerries{
  background-image: url('/glow_berries.png');
}
.Sticks{
  background-image: url('/stick.png');
}
.String{
  background-image: url('/string.png');
}
.Bow{
  background-image: url('/bow.png');
}
.Candles{
  background-image: url('/candlesgif.png');
  background-size: contain;
  width: 32px;
  height: 64px;
}
.Beds{
  background-image: url('/bed.gif');
  background-size: contain;
  width: 64px;
  height: 64px;
}
.CChicken{
  background-image: url('/cooked_chicken.png');
}
.CMutton{
  background-image: url('/cooked_mutton.png');
}
.CPork{
  background-image: url('/cooked_porkchop.png');
}
.CRabbit{
  background-image: url('/cooked_rabbit.png');
}
.Steak{
  background-image: url('/cooked_beef.png');
}
.IIngot{
  background-image: url('/iron_ingot.png');
}
.CIngot{
  background-image: url('/copper_ingot.png');
}
.GIngot{
  background-image: url('/gold_ingot.png');
}
.RIron{
  background-image: url('/raw_iron.png');
}
.RCopper{
  background-image: url('/raw_copper.png');
}
.RGold{
  background-image: url('/raw_gold.png');
}
.NIngot{
  background-image: url('/netherite_ingot.png');
}
.CBow{
  background-image: url('/crossbow_standby.png');
}
.SBoat{
  background-image: url('/spruce_boat.png');
}
.Pufferfish{
  background-image: url('/pufferfish.png');
}
.IPick{
  background-image: url('/iron_pickaxe.png');
}
.IAxe{
  background-image: url('/iron_axe.png');
}
.IShovel{
  background-image: url('/iron_shovel.png');
}
.ISword{
  background-image: url('/iron_sword.png');
}
.IHoe{
  background-image: url('/iron_hoe.png');
}
.GPick{
  background-image: url('/gold_pickaxe.png');
}
.GAxe{
  background-image: url('/gold_axe.png');
}
.GShovel{
  background-image: url('/gold_shovel.png');
}
.GSword{
  background-image: url('/gold_sword.png');
}
.GHoe{
  background-image: url('/gold_hoe.png');
}
.DPick{
  background-image: url('/diamond_pickaxe.png');
}
.DAxe{
  background-image: url('/diamond_axe.png');
}
.DShovel{
  background-image: url('/diamond_shovel.png');
}
.DSword{
  background-image: url('/diamond_sword.png');
}
.DHoe{
  background-image: url('/diamond_hoe.png');
}
.NPick{
  background-image: url('/netherite_pickaxe.png');
}
.NAxe{
  background-image: url('/netherite_axe.png');
}
.NShovel{
  background-image: url('/netherite_shovel.png');
}
.NSword{
  background-image: url('/netherite_sword.png');
}
.NHoe{
  background-image: url('/netherite_hoe.png');
}
.HeartofSea{
  background-image: url('/heart_of_the_sea.png');
}
.InvisIFrame{
  background-image: url('/item_frame.png');
}
.Elytra{
  background-image: url('/elytra.png');
}
.Potato{
  background-image: url('/potato.png');
}
.Carrot{
  background-image: url('/carrot.png');
}
.BeetRoot{
  background-image: url('/beetroot.png');
}
.MelonSeed{
  background-image: url('/melon_seeds.png');
}
.PumpkinSeed{
  background-image: url('/pumpkin_seeds.png');
}
.GCarrot{
  background-image: url('/golden_carrot.png');
}
.RCod{
  background-image: url('/cod.png');
}
.CCod{
  background-image: url('/cooked_cod.png');
}
.RSalmon{
  background-image: url('/salmon.png');
}
.CSalmon{
  background-image: url('/cooked_salmon.png');
}
.RChicken{
  background-image: url('/chicken.png');
}
.RChicken{
  background-image: url('/chicken.png');
}
.RBeef{
  background-image: url('/beef.png');
}
.RMutton{
  background-image: url('/mutton.png');
}
.RPork{
  background-image: url('/porkchop.png');
}
.RRabbit{
  background-image: url('/rabbit.png');
}
.RabStew{
  background-image: url('/rabbit_stew.png');
}
.Kelp{
  background-image: url('/kelp.png');
}
.BeetSoup{
  background-image: url('/beetroot_soup.png');
}
.MushStew{
  background-image: url('/mushroom_stew.png');
}
.SusStew{
  background-image: url('/suspicious_stew.png');
}
.TropicalFish{
  background-image: url('/tropical_fish.png');
}
.NApple{
  background-image: url('/golden_apple.png'); 
}
.FishingRod{
  background-image: url('/fishing_rod.png'); 
}
.Paper{
  background-image: url('/paper.png'); 
}
.Totem{
  background-image: url('/totem_of_undying.png'); 
}
.FireCharge{
  background-image: url('/fire_charge.png'); 
}
.FlintSteel{
  background-image: url('/flint_and_steel.png'); 
}
.BlazePowder{
  background-image: url('/blaze_powder.png'); 
}
.amShard{
  background-image: url('/amethyst_shard.png'); 
}
.Spyglass{
  background-image: url('/spyglass.png'); 
}
.Bamboo{
  background-image: url('/bamboo.png'); 
}
.CCoal{
  background-image: url('/charcoal.png'); 
}
.NVPot{
  background-image: url('/potion.png'); 
}
.WBPot{
  background-image: url('/potion.png'); 
}
.InvisPot{
  background-image: url('/potion.png'); 
}
.SFPot{
  background-image: url('/potion.png'); 
}
.FRPot{
  background-image: url('/potion.png'); 
}
.IH2Pot{
  background-image: url('/potion.png'); 
}
.S2Pot{
  background-image: url('/potion.png'); 
}
.Leather{
  background-image: url('/leather.png'); 
}
.Saddle{
  background-image: url('/saddle.png'); 
}
.Lead{
  background-image: url('/lead.png'); 
}
.LHArmor{
  background-image: url('/leather_horse_armor.png'); 
}
.IHArmor{
  background-image: url('/iron_horse_armor.png'); 
}
.GHArmor{
  background-image: url('/golden_horse_armor.png'); 
}
.DHArmor{
  background-image: url('/diamond_horse_armor.png'); 
}
.Arrow{
  background-image: url('/arrow.png'); 
}
.InvisArrow{
  background-image: url('/tipped_arrow_head.png'); 
}
.SlowArrow{
  background-image: url('/tipped_arrow_head.png'); 
}
.NightArrow{
  background-image: url('/tipped_arrow_head.png'); 
}
.PoisonArrow{
  background-image: url('/tipped_arrow_head.png'); 
}
.JumpArrow{
  background-image: url('/tipped_arrow_head.png'); 
}
.FeatherfallArrow{
  background-image: url('/tipped_arrow_head.png');
}
.FireResArrow{
  background-image: url('/tipped_arrow_head.png'); 
}
.InstaHealArrow{
  background-image: url('/tipped_arrow_head.png');
}
.HarmingArrow{
  background-image: url('/tipped_arrow_head.png'); 
}


.bookGif{ 
  background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia//2/20/Invicon_Enchanted_Book.gif/revision/latest/scale-to-width-down/32?cb=20210806192958.gif');
}


.RedMush{
  background-image: url('/red_mushroom.png');
}
.RootDirt{
  background-image: url('/rooted_dirt.png');
}
.Dirt{
  background-image: url('/dirt.png');
}
.Moss{
  background-image: url('/moss_block.png');
}
.Grass{
  background-image: url('/grass_block_side.png');
}
.Azalea{
  background-image: url('/azalea_top.png');
}
.Lilac{
  background-image: url('/lilac_top.png');
}
.FlowerAzLeave{
  background-image: url('/flowering_azalea_leaves.png');
}
.FlowerAz{
  background-image: url('/flowering_azalea_side.png');
}
.GlowLich{
  background-image: url('/glow_lichen.png');
}
.OakSap{
  background-image: url('/oak_sapling.png');
}
.Vines{
  background-image: url('/vine.png'); 
}
.smDripLeaf{
  background-image: url('/small_dripleaf_side.png'); 
}
.DriedKelpBlock{
  background-image: url('/dried_kelp_side.png');
}
.Lilypad{
  background-image: url('/lily_pad.png');
}
.Tripwire{
  background-image: url('/tripwire_hook.png');
}
.BirchLog{
  background-image: url('/birch_log.png');
}
.Stone{
  background-image: url('/stone.png');
}
.RSand{
  background-image: url('/red_sand.png');
}
.Gravel{
  background-image: url('/gravel.png');
}
.Clay{
  background-image: url('/clay.png');
}
.Terracotta{
  background-image: url('/terracotta.png');
}
.AcaciaLog{
  background-image: url('/acacia_log.png');
}
.OakLog{
  background-image: url('/Oak_log.png');
}
.JungleLog{
  background-image: url('/jungle_log.png');
}
.SpruceLog{
  background-image: url('/spruce_log.png');
}
.DOakLog{
  background-image: url('/dark_oak_log.png');
}
.Ice{
  background-image: url('/ice.png');
}
.PIce{
  background-image: url('/packed_ice.png');
}
.BIce{
  background-image: url('/blue_ice.png');
}
.Glass{
  background-image: url('/glass.png');
}
.TintedGlass{
  background-image: url('/tinted_glass.png');
}
.Oxeye{
  background-image: url('/oxeye_daisy.png');
}
.Melon{
  background-image: url('/melon_side.png');
}
.LilyofValley{
  background-image: url('/lily_of_the_valley.png');
}
.Azure{
  background-image: url('/azure_bluet.png');
}
.Corn{
  background-image: url('/cornflower.png');
}
.BlueOrchid{
  background-image: url('/blue_orchid.png');
}
.Allium{
  background-image: url('/allium.png');
}
.Dandelion{
  background-image: url('/dandelion.png');
}
.Poppy{
  background-image: url('/poppy.png');
}
.WTulip{
  background-image: url('/white_tulip.png');
}
.PTulip{
  background-image: url('/pink_tulip.png');
}
.OTulip{
  background-image: url('/orange_tulip.png');
}
.RTulip{
  background-image: url('/red_tulip.png');
}
.WitherRose{
  background-image: url('/wither_rose.png');
}
.Pumpkin{
  background-image: url('/pumpkin_side.png');
}
.WetSponge{
  background-image: url('/wet_sponge.png');
}
.Sand{
  background-image: url('/sand.png');
}
.Debris{
  background-image: url('/ancient_debris_side.png');
}
.ShulkerBox{
  background-image: url('/shulker_box.png');
}
.BrownMush{
  background-image: url('/brown_mushroom.png');
}
.smallAB{
  background-image: url('/small_amethyst_bud.png');
}
.medAB{
  background-image: url('/medium_amethyst_bud.png');
}
.bigAB{
  background-image: url('/large_amethyst_bud.png');
}
.amCluster{
  background-image: url('/amethyst_cluster.png');
}
.amBlock{
  background-image: url('/amethyst_block.png');
}
.Calcite{
  background-image: url('/calcite.png');
}
.Tuff{
  background-image: url('/tuff.png');
}
.cobDS{
  background-image: url('/cobbled_deepslate.png');
}
.Dripstone{
  background-image: url('/dripstone_block.png');
}
.Diorite{
  background-image: url('/diorite.png');
}
.Andesite{
  background-image: url('/andesite.png');
}
.CobStone{
  background-image: url('/cobblestone.png');
}
.BlackStone{
  background-image: url('/blackstone.png');
}
.Granite{
  background-image: url('/granite.png');
}
.SnowBlock{
  background-image: url('/snow.png');
}
.Et{
  background-image: url('/sunflower_front.png');
}
.EmB{
  background-image: url('/emerald_block.png');
}
.DB{
  background-image: url('/diamond_block.png');
}
.SculkSensor{
  background-image: url('/sculk_sensor_side.png');
}
.SporeBlossom{
  background-image: url('/spore_blossom.png');
}
.Iblock{
  background-image: url('/iron_block.png');
}
.Cblock{
  background-image: url('/copper_block.png');
}
.Gblock{
  background-image: url('/gold_block.png');
}
.RIblock{
  background-image: url('/raw_iron_block.png');
}
.RCblock{
  background-image: url('/raw_copper_block.png');
}
.RGblock{
  background-image: url('/raw_gold_block.png');
}
.WarpedStem{
  background-image: url('/warped_stem.png');
}
.CrimsonStem{
  background-image: url('/crimson_stem.png');
}
.Shroomlight{
  background-image: url('/shroomlight.png');
}
@keyframes slide{
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {
      transform: translate3d(0, -32px, 0);
  }
}

.glint{
  opacity: 0.5;
  background-image: url('/enchanted_item_glint.png');
  animation: slide 1s linear infinite;
}

.tradername{
  font-size: xx-large;
  border: 4px solid black;
  /* vertical-align: auto; */
  padding: 10px;
}
th{
  font-size: xx-large;
  border: 4px solid rgb(153, 153, 153);
  /* vertical-align: auto; */
  padding: 10px;
}
.tablewrapper{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* max-height: 600px; */
  max-height: max-content;
  min-height: min-content;
  min-width: min-content;
  max-width: max-content;
  /* overflow: auto; */
  /* overflow-y: auto; */
  margin: 10px;
  margin: 0 auto;
}

table{
  margin: 0 auto;
  width: auto;
  height: max-content;
}

.florists, .oldfishers{
  display: inline-flex;
  /* overflow-inline: auto; */
  overflow-x: hidden;
}

.images{
  background-color: #6d6d6d;
  padding: 10px;
  /* width: fit-content; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-height: max-content;
  max-width: max-content;
  min-height: 64px;
  min-width: 64px;
  height: max-content;
}
.centered{
  margin: 0 auto;
}
.BR-Text{
  position: relative;
  top: 35px;
  left: 20px;
  font-family: 'minecraftregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow:  2px 2px #424242;
}
/* .flexme{
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
.gridme{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.trades{
  height:max-content;
  display:inline-flex;
  justify-content:space-evenly;
  flex-direction: column;
  /* justify-content:space-between; */
  background-color: darkviolet;
  font-size: x-large;
  background-color: #6d6d6d;
  /* padding: 5px; */
  /* margin: 5px; */
  /* overflow-y: scroll; */
  
}
.images img {
  height: 600px;
  /* width: 300px; */
  /* height: 100%; */
  width: auto;
  margin: 10px;
}
.portrait{
  border: coral;
  border-radius: 10%;
  height: max-content;
  width: auto;
}
.totopbutton{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:coral;
  color:(153, 153, 153);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
.totopbutton:hover{
  background-color: #6d6d6d;
}

.main{
  /* background-color: darkslateblue; */
  /* padding: 10px; */
  height: 98%;
  /* height: 100%; */
  /* display: flex; */
  display: flex;
  /* margin: 0 auto; */
  /* justify-content: space-between; */
  /* width: 100%; */
  /* overflow: hidden; */
  /* margin-left: 20%; */
  max-height: max-content;
  /* max-width: max-content; */
}
.hideScroll{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hideScroll::-webkit-scrollbar{
  width: 0;
  height: 0;
}
.mainwrapper{
  max-width: max-content;
  max-height: max-content;
  min-height: min-content;
  min-width: min-content;
  scroll-behavior: smooth;
}
.sidenav {
  height: 96%;
  /* width: 200px; */
  max-width: max-content;
  min-width: min-content;
  /* position: fixed; */
  /* display: inline-flex; */
  /* flex-direction: column; */
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 20px;
  /* padding-bottom: 60px; */
  /* margin-bottom: 20px; */
  scroll-behavior: smooth;
}
.sidenav:hover{
  transition: 1s;
  left: 0;
}
.sidenav a,p{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: darkgray;
  display: block;
  scroll-behavior: smooth;
}
.sidenav a:hover{
  color: coral;
}
