.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  clear:both;
  /* box-sizing: border-box; */
}
html{
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  
}
body {
  background-color: #FDAD77 ;
  width: 100%;
  height: 100%;
  display: inline-flex;
  /* flex-direction: column; */
  /* justify-content: left; */
  clear: both;
  /* overflow-x:hidden ; i dont like the x scroll */
  overflow: hidden;
  scroll-behavior: smooth;
}
.tipBox{
  position: relative;
  display: inline-block;
  border: 2px solid black;
}
.tipBox .tipText{
  visibility: hidden;
  width: 120px;
  background-color: steelblue;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;

}
.tipBox:hover .tipText {
  visibility: visible;
  opacity: 1;
}

.mc{
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-size: 64px;
  height: 64px;
  width: 64px;
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

/* below are all item images */
/* .Em{
  background-image: url('images/emerald.png');
}
.SpiderEye{
  background-image: url('images/spider_eye.png');
}
.PoisonPotato{
  background-image: url('images/poisonous_potato.png');
}
.RottenFlesh{
  background-image: url('images/rotten_flesh.png');
}
.Sugar{
  background-image: url('images/sugar.png');
}
.Quartz{
  background-image: url('images/quartz.png');
}
.Coal{
  background-image: url('images/coal.png');
}
.WBucket{
  background-image: url('images/water_bucket.png');
}
.SBucket{
  background-image: url('images/powder_snow_bucket.png');
}
.EBucket{
  background-image: url('images/bucket.png');
}
.WBottle{
  background-image: url('images/waterbottle.png');
}
.PDripstone{
  background-image: url('images/pointed_dripstone.png');
}
.Apple{
  background-image: url('images/apple.png');
}
.GApple{
  background-image: url('images/golden_apple.png');
}
.Diamond{
  background-image: url('images/diamond.png');
}
.Qn{
  background-image: url('images/gold_nugget.png');
}

.IHelm{
  background-image: url('images/iron_helmet.png');
}
.IChest{
  background-image: url('images/iron_chestplate.png');
}
.ILegs{
  background-image: url('images/iron_leggings.png');
}
.IBoots{
  background-image: url('images/iron_boots.png');
}
.DHelm{
  background-image: url('images/diamond_helmet.png');
}
.DChest{
  background-image: url('images/diamond_chestplate.png');
}
.DLegs{
  background-image: url('images/diamond_leggings.png');
}
.DBoots{
  background-image: url('images/diamond_boots.png');
}
.GHelm{
  background-image: url('images/golden_helmet.png');
}
.GChest{
  background-image: url('images/golden_chestplate.png');
}
.GLegs{
  background-image: url('images/golden_leggings.png');
}
.GBoots{
  background-image: url('images/golden_boots.png');
}
.CHelm{
  background-image: url('images/chainmail_helmet.png');
}
.CChest{
  background-image: url('images/chainmail_chestplate.png');
}
.CLegs{
  background-image: url('images/chainmail_leggings.png');
}
.CBoots{
  background-image: url('images/chainmail_boots.png');
}
.NHelm{
  background-image: url('images/netherite_helmet.png');
}
.NChest{
  background-image: url('images/netherite_chestplate.png');
}
.NLegs{
  background-image: url('images/netherite_leggings.png');
}
.NBoots{
  background-image: url('images/netherite_boots.png');
}
.Bread{
  background-image: url('images/bread.png');
}
.BPotato{
  background-image: url('images/baked_potato.png');
}
.PumpkinPie{
  background-image: url('images/pumpkin_pie.png');
}
.Cookies{
  background-image: url('images/cookie.png');
}
.Cake{
  background-image: url('images/cake.png');
}
.SweetBerries{
  background-image: url('images/sweet_berries.png');
}
.HBottle{
  background-image: url('images/honey_bottle.png');
}
.HCombs{
  background-image: url('images/honeycomb.png');
}
.GlowBerries{
  background-image: url('images/glow_berries.png');
}
.Sticks{
  background-image: url('images/stick.png');
}
.String{
  background-image: url('images/string.png');
}
.Bow{
  background-image: url('images/bow.png');
}
.Candles{
  background-image: url('images/candlesgif.png');
  background-size: contain;
  width: 32px;
  height: 64px;
}
.Beds{
  background-image: url('images/bed.gif');
  background-size: contain;
  width: 64px;
  height: 64px;
}
.CChicken{
  background-image: url('images/cooked_chicken.png');
}
.CMutton{
  background-image: url('images/cooked_mutton.png');
}
.CPork{
  background-image: url('images/cooked_porkchop.png');
}
.CRabbit{
  background-image: url('images/cooked_rabbit.png');
}
.Steak{
  background-image: url('images/cooked_beef.png');
}
.IIngot{
  background-image: url('images/iron_ingot.png');
}
.CIngot{
  background-image: url('images/copper_ingot.png');
}
.GIngot{
  background-image: url('images/gold_ingot.png');
}
.RIron{
  background-image: url('images/raw_iron.png');
}
.RCopper{
  background-image: url('images/raw_copper.png');
}
.RGold{
  background-image: url('images/raw_gold.png');
}
.NIngot{
  background-image: url('images/netherite_ingot.png');
}
.CBow{
  background-image: url('images/crossbow_standby.png');
}
.SBoat{
  background-image: url('images/spruce_boat.png');
}
.Pufferfish{
  background-image: url('images/pufferfish.png');
}
.IPick{
  background-image: url('images/iron_pickaxe.png');
}
.IAxe{
  background-image: url('images/iron_axe.png');
}
.IShovel{
  background-image: url('images/iron_shovel.png');
}
.ISword{
  background-image: url('images/iron_sword.png');
}
.IHoe{
  background-image: url('images/iron_hoe.png');
}
.GPick{
  background-image: url('images/gold_pickaxe.png');
}
.GAxe{
  background-image: url('images/gold_axe.png');
}
.GShovel{
  background-image: url('images/gold_shovel.png');
}
.GSword{
  background-image: url('images/gold_sword.png');
}
.GHoe{
  background-image: url('images/gold_hoe.png');
}
.DPick{
  background-image: url('images/diamond_pickaxe.png');
}
.DAxe{
  background-image: url('images/diamond_axe.png');
}
.DShovel{
  background-image: url('images/diamond_shovel.png');
}
.DSword{
  background-image: url('images/diamond_sword.png');
}
.DHoe{
  background-image: url('images/diamond_hoe.png');
}
.NPick{
  background-image: url('images/netherite_pickaxe.png');
}
.NAxe{
  background-image: url('images/netherite_axe.png');
}
.NShovel{
  background-image: url('images/netherite_shovel.png');
}
.NSword{
  background-image: url('images/netherite_sword.png');
}
.NHoe{
  background-image: url('images/netherite_hoe.png');
}
.HeartofSea{
  background-image: url('images/heart_of_the_sea.png');
}
.InvisIFrame{
  background-image: url('images/item_frame.png');
}
.Elytra{
  background-image: url('images/elytra.png');
}
.Potato{
  background-image: url('images/potato.png');
}
.Carrot{
  background-image: url('images/carrot.png');
}
.BeetRoot{
  background-image: url('images/beetroot.png');
}
.MelonSeed{
  background-image: url('images/melon_seeds.png');
}
.PumpkinSeed{
  background-image: url('images/pumpkin_seeds.png');
}
.GCarrot{
  background-image: url('images/golden_carrot.png');
}
.RCod{
  background-image: url('images/cod.png');
}
.CCod{
  background-image: url('images/cooked_cod.png');
}
.RSalmon{
  background-image: url('images/salmon.png');
}
.CSalmon{
  background-image: url('images/cooked_salmon.png');
}
.RChicken{
  background-image: url('images/chicken.png');
}
.RChicken{
  background-image: url('images/chicken.png');
}
.RBeef{
  background-image: url('images/beef.png');
}
.RMutton{
  background-image: url('images/mutton.png');
}
.RPork{
  background-image: url('images/porkchop.png');
}
.RRabbit{
  background-image: url('images/rabbit.png');
}
.RabStew{
  background-image: url('images/rabbit_stew.png');
}
.Kelp{
  background-image: url('images/kelp.png');
}
.BeetSoup{
  background-image: url('images/beetroot_soup.png');
}
.MushStew{
  background-image: url('images/mushroom_stew.png');
}
.SusStew{
  background-image: url('images/suspicious_stew.png');
}
.TropicalFish{
  background-image: url('images/tropical_fish.png');
}
.NApple{
  background-image: url('images/golden_apple.png'); 
}
.FishingRod{
  background-image: url('images/fishing_rod.png'); 
}
.Paper{
  background-image: url('images/paper.png'); 
}
.Totem{
  background-image: url('images/totem_of_undying.png'); 
}
.FireCharge{
  background-image: url('images/fire_charge.png'); 
}
.FlintSteel{
  background-image: url('images/flint_and_steel.png'); 
}
.BlazePowder{
  background-image: url('images/blaze_powder.png'); 
}
.amShard{
  background-image: url('images/amethyst_shard.png'); 
}
.Spyglass{
  background-image: url('images/spyglass.png'); 
}
.Bamboo{
  background-image: url('images/bamboo.png'); 
}
.CCoal{
  background-image: url('images/charcoal.png'); 
}
.NVPot{
  background-image: url('images/potion.png'); 
}
.WBPot{
  background-image: url('images/potion.png'); 
}
.InvisPot{
  background-image: url('images/potion.png'); 
}
.SFPot{
  background-image: url('images/potion.png'); 
}
.FRPot{
  background-image: url('images/potion.png'); 
}
.IH2Pot{
  background-image: url('images/potion.png'); 
}
.S2Pot{
  background-image: url('images/potion.png'); 
}
.Leather{
  background-image: url('images/leather.png'); 
}
.Saddle{
  background-image: url('images/saddle.png'); 
}
.Lead{
  background-image: url('images/lead.png'); 
}
.LHArmor{
  background-image: url('images/leather_horse_armor.png'); 
}
.IHArmor{
  background-image: url('images/iron_horse_armor.png'); 
}
.GHArmor{
  background-image: url('images/golden_horse_armor.png'); 
}
.DHArmor{
  background-image: url('images/diamond_horse_armor.png'); 
}
.Arrow{
  background-image: url('images/arrow.png'); 
}
.InvisArrow{
  background-image: url('images/tipped_arrow_head.png'); 
}
.SlowArrow{
  background-image: url('images/tipped_arrow_head.png'); 
}
.NightArrow{
  background-image: url('images/tipped_arrow_head.png'); 
}
.PoisonArrow{
  background-image: url('images/tipped_arrow_head.png'); 
}
.JumpArrow{
  background-image: url('images/tipped_arrow_head.png'); 
}
.FeatherfallArrow{
  background-image: url('images/tipped_arrow_head.png');
}
.FireResArrow{
  background-image: url('images/tipped_arrow_head.png'); 
}
.InstaHealArrow{
  background-image: url('images/tipped_arrow_head.png');
}
.HarmingArrow{
  background-image: url('images/tipped_arrow_head.png'); 
}


.bookGif{ 
  background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia//2/20/Invicon_Enchanted_Book.gif/revision/latest/scale-to-width-down/32?cb=20210806192958.gif');
}


.RedMush{
  background-image: url('images/block_red_mushroom.png');
}
.RootDirt{
  background-image: url('images/block_rooted_dirt.png');
}
.Dirt{
  background-image: url('images/block_dirt.png');
}
.Moss{
  background-image: url('images/block_moss_block.png');
}
.Grass{
  background-image: url('images/block_grass_block_side.png');
}
.Azalea{
  background-image: url('images/block_azalea_top.png');
}
.Lilac{
  background-image: url('images/block_lilac_top.png');
}
.FlowerAzLeave{
  background-image: url('images/block_flowering_azalea_leaves.png');
}
.FlowerAz{
  background-image: url('images/block_flowering_azalea_side.png');
}
.GlowLich{
  background-image: url('images/block_glow_lichen.png');
}
.OakSap{
  background-image: url('images/block_oak_sapling.png');
}
.Vines{
  background-image: url('images/block_vine.png'); 
}
.smDripLeaf{
  background-image: url('images/block_small_dripleaf_side.png'); 
}
.DriedKelpBlock{
  background-image: url('images/block_dried_kelp_side.png');
}
.Lilypad{
  background-image: url('images/block_lily_pad.png');
}
.Tripwire{
  background-image: url('images/block_tripwire_hook.png');
}
.BirchLog{
  background-image: url('images/block_birch_log.png');
}
.Stone{
  background-image: url('images/block_stone.png');
}
.RSand{
  background-image: url('images/block_red_sand.png');
}
.Gravel{
  background-image: url('images/block_gravel.png');
}
.Clay{
  background-image: url('images/block_clay.png');
}
.Terracotta{
  background-image: url('images/block_terracotta.png');
}
.AcaciaLog{
  background-image: url('images/block_acacia_log.png');
}
.OakLog{
  background-image: url('images/block_Oak_log.png');
}
.JungleLog{
  background-image: url('images/block_jungle_log.png');
}
.SpruceLog{
  background-image: url('images/block_spruce_log.png');
}
.DOakLog{
  background-image: url('images/block_dark_oak_log.png');
}
.Ice{
  background-image: url('images/block_ice.png');
}
.PIce{
  background-image: url('images/block_packed_ice.png');
}
.BIce{
  background-image: url('images/block_blue_ice.png');
}
.Glass{
  background-image: url('images/block_glass.png');
}
.TintedGlass{
  background-image: url('images/block_tinted_glass.png');
}
.Oxeye{
  background-image: url('images/block_oxeye_daisy.png');
}
.Melon{
  background-image: url('images/block_melon_side.png');
}
.LilyofValley{
  background-image: url('images/block_lily_of_the_valley.png');
}
.Azure{
  background-image: url('images/block_azure_bluet.png');
}
.Corn{
  background-image: url('images/block_cornflower.png');
}
.BlueOrchid{
  background-image: url('images/block_blue_orchid.png');
}
.Allium{
  background-image: url('images/block_allium.png');
}
.Dandelion{
  background-image: url('images/block_dandelion.png');
}
.Poppy{
  background-image: url('images/block_poppy.png');
}
.WTulip{
  background-image: url('images/block_white_tulip.png');
}
.PTulip{
  background-image: url('images/block_pink_tulip.png');
}
.OTulip{
  background-image: url('images/block_orange_tulip.png');
}
.RTulip{
  background-image: url('images/block_red_tulip.png');
}
.WitherRose{
  background-image: url('images/block_wither_rose.png');
}
.Pumpkin{
  background-image: url('images/block_pumpkin_side.png');
}
.WetSponge{
  background-image: url('images/block_wet_sponge.png');
}
.Sand{
  background-image: url('images/block_sand.png');
}
.Debris{
  background-image: url('images/block_ancient_debris_side.png');
}
.ShulkerBox{
  background-image: url('images/block_shulker_box.png');
}
.BrownMush{
  background-image: url('images/block_brown_mushroom.png');
}
.smallAB{
  background-image: url('images/block_small_amethyst_bud.png');
}
.medAB{
  background-image: url('images/block_medium_amethyst_bud.png');
}
.bigAB{
  background-image: url('images/block_large_amethyst_bud.png');
}
.amCluster{
  background-image: url('images/block_amethyst_cluster.png');
}
.amBlock{
  background-image: url('images/block_amethyst_block.png');
}
.Calcite{
  background-image: url('images/block_calcite.png');
}
.Tuff{
  background-image: url('images/block_tuff.png');
}
.cobDS{
  background-image: url('images/block_cobbled_deepslate.png');
}
.Dripstone{
  background-image: url('images/block_dripstone_block.png');
}
.Diorite{
  background-image: url('images/block_diorite.png');
}
.Andesite{
  background-image: url('images/block_andesite.png');
}
.CobStone{
  background-image: url('images/block_cobblestone.png');
}
.BlackStone{
  background-image: url('images/block_blackstone.png');
}
.Granite{
  background-image: url('images/block_granite.png');
}
.SnowBlock{
  background-image: url('images/block_snow.png');
}
.Et{
  background-image: url('images/block_sunflower_front.png');
}
.EmB{
  background-image: url('images/block_emerald_block.png');
}
.DB{
  background-image: url('images/block_diamond_block.png');
}
.SculkSensor{
  background-image: url('images/block_sculk_sensor_side.png');
}
.SporeBlossom{
  background-image: url('images/block_spore_blossom.png');
}
.Iblock{
  background-image: url('images/block_iron_block.png');
}
.Cblock{
  background-image: url('images/block_copper_block.png');
}
.Gblock{
  background-image: url('images/block_gold_block.png');
}
.RIblock{
  background-image: url('images/block_raw_iron_block.png');
}
.RCblock{
  background-image: url('images/block_raw_copper_block.png');
}
.RGblock{
  background-image: url('images/block_raw_gold_block.png');
}
.WarpedStem{
  background-image: url('images/block_warped_stem.png');
}
.CrimsonStem{
  background-image: url('images/block_crimson_stem.png');
}
.Shroomlight{
  background-image: url('images/block_shroomlight.png');
} */
@keyframes slide{
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {
      transform: translate3d(0, -32px, 0);
  }
}

.glint{
  opacity: 0.5;
  /* background-image: url('images/enchanted_item_glint.png'); */
  animation: slide 1s linear infinite;
}

.tradername{
  font-size: xx-large;
  border: 4px solid black;
  /* vertical-align: auto; */
  padding: 10px;
}
th{
  font-size: xx-large;
  border: 4px solid rgb(153, 153, 153);
  /* vertical-align: auto; */
  padding: 10px;
}
.tablewrapper{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* max-height: 600px; */
  max-height: max-content;
  min-height: min-content;
  min-width: min-content;
  max-width: max-content;
  /* overflow: auto; */
  /* overflow-y: auto; */
  margin: 10px;
  margin: 0 auto;
}

table{
  margin: 0 auto;
  width: auto;
  height: max-content;
}

.florists, .oldfishers{
  display: inline-flex;
  /* overflow-inline: auto; */
  overflow-x: hidden;
}

.images{
  background-color: #6d6d6d;
  padding: 10px;
  /* width: fit-content; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-height: max-content;
  max-width: max-content;
  min-height: 64px;
  min-width: 64px;
  height: max-content;
}
.centered{
  margin: 0 auto;
}
.BR-Text{
  position: relative;
  top: 35px;
  left: 20px;
  font-family: 'minecraftregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow:  2px 2px #424242;
}
/* .flexme{
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
.gridme{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.trades{
  height:max-content;
  display:inline-flex;
  justify-content:space-evenly;
  flex-direction: column;
  /* justify-content:space-between; */
  background-color: darkviolet;
  font-size: x-large;
  background-color: #6d6d6d;
  /* padding: 5px; */
  /* margin: 5px; */
  /* overflow-y: scroll; */
  
}
.images img {
  height: 600px;
  /* width: 300px; */
  /* height: 100%; */
  width: auto;
  margin: 10px;
}
.portrait{
  border: coral;
  border-radius: 10%;
  height: max-content;
  width: auto;
}
.totopbutton{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:coral;
  color:(153, 153, 153);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
.totopbutton:hover{
  background-color: #6d6d6d;
}

.main{
  /* background-color: darkslateblue; */
  /* padding: 10px; */
  height: 98%;
  /* height: 100%; */
  /* display: flex; */
  display: flex;
  /* margin: 0 auto; */
  /* justify-content: space-between; */
  /* width: 100%; */
  /* overflow: hidden; */
  /* margin-left: 20%; */
  max-height: max-content;
  /* max-width: max-content; */
}
.hideScroll{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hideScroll::-webkit-scrollbar{
  width: 0;
  height: 0;
}
.mainwrapper{
  max-width: max-content;
  max-height: max-content;
  min-height: min-content;
  min-width: min-content;
  scroll-behavior: smooth;
}
.centerTable{
  flex-basis: 100px;
  margin: auto;
  width: 50vw;

}
.sidenav {
  /* use vh or vw with components, use % for basic html. */
  height: 96vh;
  /* width: 200px; */
  max-width: max-content;
  min-width: min-content;
  /* position: fixed; */
  /* display: inline-flex; */
  /* flex-direction: column; */
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 20px;
  /* padding-bottom: 60px; */
  /* margin-bottom: 20px; */
  scroll-behavior: smooth;
}
.sidenav:hover{
  transition: 1s;
  left: 0;
}
.sidenav a,p{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: darkgray;
  display: block;
  scroll-behavior: smooth;
}
.sidenav a:hover{
  color: coral;
}
